<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Auth0:Domain" value="yourcompany.us.auth0.com"/>
    <add key="Auth0:ClientId" value="7Hkloame7Gnsg0Ufe5Ja0uNxzeqlPmbr"/>
    <add key="Auth0:RedirectUri" value="http://localhost:12345/callback"/>
    <add key="Crypto:Key" value="9h4hnhhhyt97mzcp"/>
    <add key="UrlApi:CertificateManager" value="https://certificate-manager.yourcompany.com.br/public/"/>
    <add key="UrlRoleClaims:CertificateManager" value="http://yourcompany/roles"/>
  </appSettings>
</configuration>
